.gcomment-main {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Segoe UI', 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  .model-loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 999;
    cursor: progress;
  }

  .d-flex {
    display: flex !important;

    &.justyfy-content-between {
      justify-content: space-between;
    }
  }

  .d-none {
    display: none !important;
  }

  * {
    transition: all 0.25s, opacity 0.5s;
  }

  .w-100 {
    width: 100% !important;
  }

  .btn-icon-text {
    background-color: transparent;
    border: none;
    border-radius: 0;
    height: auto;
    line-height: inherit;
    padding: 0;
    user-select: none;
    cursor: pointer;
  }

  .g-comment-btn {
    position: relative;
    flex-shrink: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    user-select: none;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    font-size: 14px;
    padding: 4px 12px;
    color: #fff;
    background-color: #ec7259;
    border: 1px solid #ec7259;
  }

  textarea {
    font-family: inherit;
    box-sizing: border-box;
    padding: 0.8rem 1rem;
    width: 100%;
    height: 7rem;
    border: 1px solid #eee;
    border-radius: 4px;
    background-color: #fafafa;
    resize: none;
    display: inline-block;
    vertical-align: top;
    outline-style: none;

    &::-webkit-input-placeholder {
      opacity: 0.5;
      user-select: none;
    }
  }

  .reply-textarea {
    margin: 1rem;
    display: flex;
    // transition: all 0.3s cubic-bezier(0, 1, 0.5, 1);
    max-height: 4rem;
    padding: 0.5rem;
    textarea {
      height: 3rem;
      margin-right: 0.5rem;
      padding: 0.6rem 1rem;
    }
    .g-comment-btn {
      border-radius: 5px;
    }
    &.close {
      overflow: hidden;
      opacity: 0;
      max-height: 0;
      margin: 0;
    }
  }

  .g-comment-textarea-tools {
    max-height: 3rem;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0, 1, 0.5, 1);
    display: flex;
    justify-content: space-between;
    margin-top: 0.4rem;

    &.close {
      max-height: 0;
    }
  }

  .g-comment-avatar,
  .g-comment-login {
    width: 3rem;
    height: 3rem;
    margin-right: 0.4rem;
    cursor: pointer;

    img,
    svg {
      width: 100%;
      border-radius: 50%;
    }
  }

  .comments-area {
    position: relative;
    min-height: 8rem;
    .a-comment {
      padding-bottom: 0.7rem;
      .children-comments {
        padding-left: 2rem;
        font-size: 0.8em;

        .g-comment-avatar {
          width: 2rem;
          height: 2rem;
        }
      }

      .single-comment {
        max-height: 12rem;
        padding-bottom: 0.5rem;
        .nickname,
        .to-nickname {
          color: #61666d;
        }
        .content {
          padding: 0.4rem;
        }
        .bottom {
          .reply-btn,
          .like-btn,
          span {
            font-size: 0.85rem;
            margin-right: 1em;
            color: #9499a0;
            &.btn-icon-text:hover {
              color: #00aeec;
            }
          }
          i.icon {
            margin-right: 0.15rem;
            svg {
              vertical-align: -0.1rem;
            }
          }
        }
        &.new-comment {
          max-height: 0;
          margin: 0;
          opacity: 0;
          padding: 0;
        }
      }
    }
  }

  .toolbar-comments {
    margin-bottom: 1rem;
    margin-top: 0.3rem;
    font-size: 1.5rem;
    font-weight: 550;
    padding-left: 0.3rem;
    border-left: 0.4rem solid #00aeec;

    i.total-num {
      color: #9499a0;
      font-weight: normal;
      font-family: 'Times New Roman', Times, serif;
      margin-left: 0.3rem;
      font-size: 0.9em;
    }
  }

  .loading {
    position: absolute;
    display: block;
    left: calc(50% - 1.5rem);
    top: calc(50% - 1.5rem);
    width: 3rem;
    height: 3rem;
    border: 2px solid #000;
    border-top-color: rgba(0, 0, 0, 0.2);
    border-right-color: rgba(0, 0, 0, 0.2);
    border-bottom-color: rgba(0, 0, 0, 0.2);
    border-radius: 100%;

    animation: circle infinite 0.75s linear;
  }

  @keyframes circle {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  ol {
    padding: 0;
    position: relative;
    display: inline-block;
    list-style: none;
  }
  li {
    display: inline;
    padding: 0.2rem;
    cursor: pointer;

    &:hover {
      color: #00aeec;
    }

    &.current {
      background-color: black;
      color: white;
    }
  }
}
